/* style */

#wrapper {
    height: 100vh;
}

#header {
    color: rgb(255, 255, 255);
    background-color: black;
}

#content {
    padding-left: 40%;
}

#footer {
    color: rgb(255, 254, 254);
    background-color: rgb(29, 198, 207);
}